* {
    padding: 1px;
    text-align: center;
}
header {
    background-color: lightgreen;
    color: black;
}
button {
    padding: 12px;
    margin: auto;
    display: block;
    width: 80%;
}
br {
    border: 10px;
}
p {
    text-align: left;
}
.leftPanel {
    align-content: left;
    background: lightgreen;
}
.topPanel {
    background: lightblue;
}
.bottomPanel {
    background: lightcoral
}
aside {
    float: left;
    width: 20%;
    height: 100%;
    
}