* {
    padding: 1px;
}
header {
    background-color: lightgreen;
    color: black;
    text-align: center;
}
.rightPanel {
    align-content: left;
    background: green;
}
.topPanel {
    background: blue;
}
.bottomPanel {
    background: red;
}
aside {
    float: left;
    width: 20%;
    height: 100%;
    
}