* {
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
}
header {
    background-color: lightgreen;
    color: black;
}
button {
    padding: 12px;
    margin: auto;
}
br {
    border: 10px;
}
p {
    margin: 20px;
    text-align: center
}
input {
    display: inline-block;
}
.topPanel {
    padding: 40px;
    background: lightblue;
    display: inline-flex;
}
.bottomPanel {
    background: lightcoral;
    border-radius: 10px;
}
aside {
    float: left;
    width: 20%;
    height: 100%;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}